.footer {
    width: 100%;
    .footer-bg {
        background: #222;
        background-color: $hero-bg-primary;
        height: auto;
        clear: both;
        margin-top: 200px;
        background-size: cover;
    }
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-sitemap {
            padding: 2em;
        }
    }
    .footer-copyright {
        text-align: center;
        padding-bottom: 24px;
    }
}