@import 'meyer-reset';
@mixin mobile ($size: 640px) {
    @media only screen and (max-width: $size), only screen and (max-device-width: $size) {
        @content;
    }
}

$background-primary: #f4f4f4;
$background-secondary: #77c9d4;
$hero-bg-primary: #57bc90;
$hero-bg-secondary: #015249;
$sleek-gray: #a5a5af;
#app {
    // Components
    @import 'components/hero/hero';
    @import 'components/nav-bar/navbar';
    @import 'components/card/card';
    @import 'components/profile/profile';
    .content {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: $background-primary;
        .home-content {
            margin: 1.25rem;
            text-align: center;
        }
        .profile-content {
            text-align: center;
        }
    }
}