.profile {
    display: inline-block;
    text-align: center;
    margin: 2em;
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    a {
        text-decoration: none;
    }
}